.main {
    background-color: A0522D;
    margin: auto;
    width: 30%;
    height: 90%;
    border-radius: 15%;
    max-width: 540px;
    max-height: 540px;
    
}


.input{
    margin-top: 50px;
   margin-left: 10px;
   height: 100px;
    width:95%;
    border-radius: 25px;
    font-size: xx-large;
    background: 	F0F8FF;
}

.maindiv{
    margin-top: 20px;
   

}
.number{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    
    
}
.but{
    border: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: large;
    

}
.butt{
    width: 150px;
    height: 50px;
    border-radius: 20%;
    font-size: large;
}
.buttt{
    background-color: cadetblue;
}
#colorOp{
    background-color: orange;
}
#color{
    background-color: lightgray;

}

.heading{
    margin-left: 37%;
    margin-bottom: 30px;
    color: cadetblue;
    text-shadow: 3px 3px 3px #000;
    

   
    
}